@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
h1{
    font-size: 2.1rem;
    margin-bottom: 20px;
    text-shadow: 5px 5px 8px white;
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: plum;
}
.container {
    max-width: 500px;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 70px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    text-align: center;
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #218838;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    text-shadow: 8px 5px 8px purple;
    text-align: center;
}

@media only screen and (max-width: 321px) {
    body {
        font-size: 14px; 
    }
    h1{
        font-size: 1.5rem;
        text-align: center;
    }

    .container {
        padding: 10px; 
        margin: 2% auto;
 
    }

    input {
        font-size: 12px; 
        padding: 8px; 
    }

    button {
        font-size: 12px; 
        padding: 8px 15px; 
    }
    #result{
        font-size: .9rem;
        padding: 10px;
        margin-top: 10px;
    }
}
